---
---

@import 'https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans&display=swap';

$purple: #832b99;
$lightpurple: #c68fd6;
$gold: #ffd700;
$lightyellow: #fff09e;
$brown: #723c1d;
$beige: #f2d3b9;

$main: 'Alata', sans-serif;
$body: 'Open sans', sans-serif;


.cover{
    height: 400px;
    background-color: $lightpurple;
}

h1 {
    font-family: $main;
}

/*
Contact us
*/

#contactUs img{
    width: 150px;
    transition: all 0.3s;
    &:hover{
        transform:scale(1.04);
    }
    @media(max-width: 800px) {
        width: 90px;
    }
}