<div id = "intro" style = "background-color:white; height: 400px; scroll-margin-top: 200px;">
 <p style="float: left;"><img src="../images/women.png"  alt = "Welcome to WomenEmpowerED Conference"  style="max-width: 320px;margin-top: 1%;margin-left:15px;"></p>
 <p style="float: left;margin-top:4%;">  This conference is a  week long  series of events regarding gender equality and inclusivity intended</p>
<p style = "float:left;">for women, non-binary and transgender students. It is a celebration of  International Women's Day,</p>
<p style = "float:left;">which falls on the 8th of March. During the week, we aim to spark conversations about topics that</p>
<p style = "float:left;">are not often spoken about, provide an opportunity to meet likeminded individuals and to have fun!</p>
<p style = "float:left;margin-top:1%;"> This a collaboration between multiple societies at the University of Edinburgh.The event is virtual </p>
<p style = "float:left;">due to the pandemic, but this presents a unique opportunity to invite speakers and guests from</p>
<p style = "float:left;">from all over the world.  All the events are free of charge. Don't think twice and sign up now!</p>


</div>