
<div id = "meetTheTeam"  class="container">


<div class="row team">

<div class="col-sm-2 teamLeft" >

<div class="col-sm-10 teamRight">
 <div id = "circle"></div>
 </div>

 </div>
<div class = "teamlogo"></div>


</div>

<div class="row team">
<div class="col-sm-2 teamLeft" >
<div class="col-sm-10 teamRight">
 <div id = "circle"></div>
 
</div>
 
</div>
<div class = "teamlogo"></div>

</div>

<div class="row team">
<div class="col-sm-2 teamLeft" >
<div class="col-sm-10 teamRight"> 
 <div id = "circle"></div>
 

</div>
  
</div>
<div class = "teamlogo"></div>


</div>


<div class="row team">
<div class="col-sm-2 teamLeft" >
<div class="col-sm-10 teamRight"> 
 <div id = "circle"></div>
 
</div>
   
</div>
<div class = "teamlogo"></div>

</div>

<div class="row team">
<div class="col-sm-2 teamLeft" >
<div class="col-sm-10 teamRight">
 <div id = "circle"></div>

 
</div>
 
</div>
<div class = "teamlogo"></div>

</div>


<div class="row team">
<div class="col-sm-2 teamLeft" >
<div class="col-sm-10 teamRight">
 <div id = "circle"></div>
 
</div>
 
</div>
<div class = "teamlogo"></div>

</div>
