<nav class="nav navbar sticky-top navbar-expand-sm navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class = "collapse navbar-collapse align-items-center justify-content-center text-center">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#meetTheTeam">Meet the team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">About the conference</a>
        </li>
      </ul>
      <li class="nav-item">
        <a class="nav-link" href="#contactUs">Contact Us</a>
      </li>
    </div>
  </nav>