<nav class="nav navbar sticky-top navbar-expand-sm navbar-dark bg-dark mt-3 mb-4 mt-sm-4 mb-sm-5">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class = "collapse navbar-collapse align-items-center justify-content-center text-center">
      <ul class="navbar-nav nav-tabs mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#home">Back to the top</a>
        </li> -->
        <a class="navbar-brand" href="#" style="height: 0">
          <img src="../images/megaphone.png" width="100" class="rounded-circle clickable" alt=""> 
        </a>
        <li class="nav-item">
          <a class="nav-link" href="#meetTheTeam">Meet the team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactUs">Contact Us</a>
        </li>
      </ul>
      
    </div>
  </nav>