<div id = "schedule">
  <script src="./papaparse.min.js"></script>

    <!-- <script>
      const fs = require('fs');
      const papa = require('papaparse');
      const link = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vT1zhTzgORhbgMdoLFOVy-rMiXJX3IOmpgvcHIM417wBdtrUV9RMRwsDxd0k4dcOmylu-vcPL-HZ67c/pub?output=csv';

      function init() {
        Papa.parse(link, {
        download: true,
        header: true,
        complete: function(results) {
          var data = results.data
          console.log(data)
        }

      })}

      window.addEventListener('DOMContentLoaded', init)
    </script> -->
    <table class = "table table-bordered"> 
        <thead class="thead-light">
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Event</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope = "row">3 pm</th>
                <td>Panel</td>
                <td>insert link</td> 
              </tr>
          </tbody>
    </table>
</div>